@media( max-width:414px){ /*smaller devices only*/
    .menu{ /*hide menu in mobile devices*/
        display: none;
      
    }

    .flex-box{
        display: flex; 
    }
}

@media(min-width:768px) and (max-width: 1024px){ /*medium size devices (iPad/ Surface)*/

    .menu-bar.menu{ /*Align menu items to left*/
    float: left;
    margin-left: 40px; 
   
    }
}

@media(min-width: 1025) {
    .menu-handler{
        display:none!important; 
    }

}



/* pseudo selector with siblings*/
.menu-handler:focus-within+.menu{
    display: block!important

}

.menu-handler2 ul li a{
    min-width: 150px;
    padding: 8px; 
    border-bottom: 1px; 
        color: #3333337d;
    float: left;
    list-style: none;
}

nav ul {
    float: left;
    list-style-type: none; 
    border-bottom: 1px; 
           color: #3333337d;
    
}


nav ul li:hover{
    float: left;
    background-color: aquamarine
}
